xterm*faceName:Hack:antialias=True:pixelsize=16
xterm*faceNameDoublesize:WenQuanYi Micro Hei Mono:antialias=True:pixelsize=16
xterm*locale:zh_CN.UTF-8

xterm*metaSendsEscape:true
xterm*saveLines:4096

URxvt.font: xft:Hack:size=11.5:antialias=True, xft:文泉驿等宽微米黑:size=11.5:antialias=True
URxvt.letterSpace: -1
!URxvt.color12: rgb:5c/5c/ff
URxvt.scrollBar: false
URxvt*transparent: true
URxvt*shading: 30
!#include ".Xresources.solarized.dark"
#include "/home/raawaa/Code/gruvbox-contrib/xresources/gruvbox-dark.xresources"
