xterm*faceName:Hack:antialias=True:pixelsize=16
xterm*faceNameDoublesize:WenQuanYi Micro Hei Mono:antialias=True:pixelsize=16
xterm*locale:zh_CN.UTF-8

xterm*metaSendsEscape:true
xterm*saveLines:4096

URxvt.font: xft:DejaVu Sans Mono for Powerline:size=10.5:antialias=True:hinting=false:autohint=false, xft:文泉驿等宽微米黑:size=10.5:antialias=True:hinting=false:autohint=false
URxvt.letterSpace: -1
!URxvt.color12: rgb:5c/5c/ff
URxvt.scrollBar: false
!URxvt*transparent: true
URxvt*shading: 30

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! ----------------------------------------------------------------------
! ROFI COLOR THEME 
! ----------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c
